.cartBase {
    padding: 1.5em 2em;
}

.title {
    font-size: 2em;
    margin-bottom: 0.5em;
}

/* Empty cart */

.cartEmptyCard {
    background-color: #f3f5f8;
    width: fit-content;
    padding: 2em;
    border-radius: 0.5em;
    
    span {
        display: block;
    }

    button {
        font-weight: 600;
        border-radius: 0.5em;
        background: #ffbc00;
        padding: 1em;
        margin-top: 1em;
    }
}

.cartContainer {
    display: flex;
    flex-direction: column;
    gap: 2em;

    @media (min-width: 950px) {
        display: grid;
        grid-template-columns: 7fr 3fr;
    }
}

.cartProducts {
    gap: 1em;
}

.cartSummary {
    position: relative;
    padding: 1.5em;
    background-color: #f3f5f8;
    display: flex;
    flex-direction: column;

    h2 {
        margin-bottom: 0.3lh;
    }
}

.subtotal,
.shipping,
.total {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    
    p:last-child {
        font-size: 1.1em;
    }
}

.subtotal,
.shipping {
    margin-top: 0.1lh;
}

.delivery {
    margin-top: 2lh;
    margin-bottom: 2lh;
}

.total{
    padding-top: 0.75em;
    margin-top: auto;
    border-top: 1px solid #bebebe;
}

.cartHeader {
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 1em;
    font-weight: 600;
    color: #181818;

    >div {
        display: flex;
        justify-content: space-between;
    }

    @media (max-width: 650px) {
        display: none;
    }
}

.cartEntry {
    padding: 1em 0;
    position: relative;
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 1em;

    align-items: center;

    @media (max-width: 650px) {
        display: flex;
        flex-direction: column;
    }

    +.cartEntry::before {
        content: "";
        width: 100%;
        border-bottom: 1px solid #cfcfcf;
        position: absolute;
        top: 0;
    }
}

.productQuantity {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.productInfo {
    display: flex;
    align-items: center;
    margin-right: auto;
    gap: 1em;
}

.imageContainer {
    max-height: 8em;
    aspect-ratio: 1/1;

    img {
        height: 100%;
        aspect-ratio: 1/1;
        object-fit: contain;
    }
}

.productTitle {
    margin-top: 0.5lh;
    margin-bottom: 1lh;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    &:hover {
        text-decoration: underline;
    }
}

.checkout {
    max-width: 30em;
    font-size: 1em;
    width: 100%;
    padding: 1em 0;
    background: #ffbc00;
    border-radius: 0.25em;
    font-weight: 500;
    align-self: center;

    transition: background 0.3s ease;

    &:hover {
        background: #fdcc46;
    }
}

.delivery {
    padding: 1em;
    background-color: #bee3f8;
    display: flex;
    align-items: center;
    gap: 1em;
    font-weight: 600;
    border-radius: 0.5em;

    >div {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    img {
        height: 32px;
    }
}