.productPage {
    width: 100%;
    padding: 2lh 5%;
    gap: 1em;

    display: flex;
    flex-wrap: wrap;

    @media (max-width: 750px) {
        flex-direction: column;
    }
}

/* Product image */

.productImage {
    display: flex;
    justify-content: center;
    align-self: center;

    flex-basis: 50%;
    flex-grow: 1;

    img {
        width: 60%;
        object-fit: contain;
    }
}

/* Product details */

.productDetails {
    display: flex;
    flex-direction: column;
    gap: 1.5lh;

    flex-basis: 45%;
    flex-grow: 3;
}

/* Product details > title and rating header */

.productDetailsHeader {
    display: flex;
    flex-direction: column;
    gap: 0.5lh;
}

.productDetailsRating {
    display: flex;
    gap: 2%;
}

.productDetailsStar {
    height: 18px;
}

/* Product details > product price */

.productDetailsPrice {
    font-size: 1.5em;
}

/* Product details > product description */

.productDetailsDescription {
    width: 100%;
}

/* Product details > selector and add button */

.productDetailsButtons {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.productDetailsButtons > p {
    font-weight: bold;
}

.productDetailsAddButton {
    width: 80%;
    padding: 0.75em 2em;
    margin-top: 1em;
    font-size: 1.2em;
    
    align-self: center;
    
    border-radius: 5px;
    background-color: #e0400f;
    color: #fff;
}



/* Message */

.actionMessageContainer {
    width: 100%;

    display: flex;
    justify-content: center;
    
    position: sticky;
    bottom: 2em;
}

.actionMessage {
    opacity: 0;

    width: fit-content;
    padding: 1em 2em;
    border-radius: 0.5em;
    
    transition: opacity 0.5s ease;
}