.products {
    --product-grid-max-column-count: 4;
    --product-grid-gap: 1em;
    --product-card-border-color: #cccccc;

    padding: 1em 5%;
    display: flex;
    flex-direction: column;
}

/* Products grid */

.productGrid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill,
            minmax(max(10em, calc((100% - (var(--product-grid-max-column-count) - 1) * var(--product-grid-gap)) / var(--product-grid-max-column-count))),
                1fr));
    gap: var(--product-grid-gap);
}

/* Product card */

.productCard {
    padding: 1em;

    display: flex;
    flex-direction: column;

    border-radius: 0.5em;
    box-shadow: 0 2px 3px var(--box-shadow-color);
    border: 1px solid var(--product-card-border-color);

    &:hover {
        img {
            scale: 1.025;
        }
    }
}

.productImage {
    width: 100%;
    aspect-ratio: 1/1;
}

.productImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: scale 0.4s ease-in-out;
}

.productPrice {
    margin-top: auto;
}

.productRatingStar {
    height: 18px;
}