:root {
    /* Button */
    --button-background-color: #ffbc00;

    /* Text */
    --text-color-light: #ffffff;
    --text-color-dark: #222222;

    /* Card */
    --card-background-color: #f3f5f8;

    /* Announcement banner */
    --announcement-background-color: #ecbb59;

    /* Footer */
    --footer-background-color: #222222;

    /* Box shadow */
    --box-shadow-color: #d9d9d9;
}