@import "./colors.css";

.button {
    padding: 1em 2em;
    border-radius: 0.5em;
    border: none;
    transition: filter 0.3s ease-in-out;
    background-color: var(--button-background-color);

    &:hover {
        cursor: pointer;
        filter: brightness(1.1);
    }
}

.announcementBanner {
    margin-top: 1lh;
    margin-bottom: 1lh;
    padding: 1em 2em;

    text-align: center;
    color: var(--text-color-dark);
    background-color: var(--announcement-background-color);
    box-shadow: 0 2px 3px var(--box-shadow-color);
}